.title {
    font: bold 6em Arial, Tahome, sans-serif;
    margin-top: 20%;


}
@font-face {
    font-family: Cambria; /* Гарнитура шрифта */
    src: url(cambria.ttc); /* Путь к файлу со шрифтом */
   }
.button {
    font: 1em Arial, Tahome, sans-serif;
    text-align: centre;
}
.equations {
    font:  1.4em Arial, Tahome, sans-serif;
    display: inline-block;
}
.equation-block4 {
    display: inline-block;
    
    
}
.equation-block2 {
    
    border: 2px solid #000 ;
    border-radius: 5px;
    display: inline-block;
    
}
.equation-style {
    width: 300px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
}

.equation-limitation {
    display: inline-block;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-left: 2px solid #000;
    width: 100;
    
}
.number {
    display: inline-block;
    margin-left: 20px;
}
.input {
    display: inline-block;
}
.level-number {
    display: inline-block;
    font: bold 1.5em Arial, sans-serif;
    margin-top: 64px;
    margin-left: 20px;
    position: absolute;
}
.check-button { 
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    font: bold 1.5em Arial, sans-serif;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 29px;
    margin-left: 180px;
}

.unviz{
    display: none;
}
